body {
  font-family: Arial, sans-serif;
}

.recipe {
  max-width: 30vw;
  margin: 0 auto;
  padding: 1vw;
  background-color: #a57267;
  border-radius: 0.25vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #e2e1e1;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

.recipe-info {
  margin-bottom: 0;
}

.recipe-ingredients {
  margin-bottom: 1vw;
  text-align: center;
}

.recipe-instructions {
  margin-bottom: 1vw;
}

.recipe-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 0.25vw;
}

h2 {
  color: #e2e1e1;
  text-shadow: 1px 1px 2px black;
}

h6 {
  color: #e2e1e1;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5vw;
}

ol,
ul {
  list-style: none;
  padding-left: 1vw;
}

li {
  margin-bottom: 0.25vw;
}

.main-cooking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5vw;
  justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .recipe {
    max-width: 90vw;
  }

  h6 {
    font-size: 2vw;
  }
  .main-cooking {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .recipe {
    max-width: 80vw;
  }

  h6 {
    font-size: 3vw;
  }
  .main-cooking {
    grid-template-columns: repeat(1, 1fr);
  }
}
